#admin-nav-panel > div > a{
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

#admin-nav-panel > div > a{
    text-decoration: none;
}

.selected-admin-tool{
    color: #fec503;
}

#admin-feedback-nav > a{
    font-size: 20px;
}

#admin-feedback-nav > a:hover{
    text-decoration: none;
}

#admin-feedback-nav span > a{
    font-size: 20px;
    color: #7d7776;
}

#admin-feedback-nav span >  a:hover{
    text-decoration: none;
    color: #7d7776;
}

#fi-nav > div {
    width: 5%;
    text-align: center;
    border: 1px solid black;
    float: left;
}

.float-right{
    float: right;
}

#fi-nav .selected-fi-nav-item{
    border: 2px solid #0849da;
}

.nav-item-selected{
    border: 3px solid;
    border-color: #696969;
    border-radius: 20%;
}

#wi-nav > a > img {
    width: 5%;
}

#wi-nav > a {
    text-decoration: none;
}

#wi-nav{
    margin: 1% 0 1% 0;
}