body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.text-muted {
    color: #777
}

.text-primary {
    color: #0081C4
}

p {
    font-size: 14px;
    line-height: 1.75
}

p.large {
    font-size: 16px
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0
}

a {
    color: #0081C4;
}

a:hover, a:focus, a:active, a.active {
    color: #fec503
}
a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700
}

.img-centered {
    margin: 0 auto
}

.bg-light-gray {
    background-color: #f7f7f7
}

.bg-darkest-gray {
    background-color: #222
}

.btn-primary-no-bg {
    color: #0081C4;
    border-color: #0081C4;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.btn-primary-no-bg:hover, .btn-primary-no-bg:focus, .btn-primary-no-bg:active, .btn-primary-no-bg.active, .open .dropdown-toggle.btn-primary-no-bg {
    color: #fec503;
    border-color: #f6bf01
}

.btn-primary-no-bg:active, .btn-primary-no-bg.active, .open .dropdown-toggle.btn-primary-no-bg {
    background-image: none
}
.panel-heading img{
    max-width: 100%;
    max-height: 100%;
}
.panel-heading{
    height: 190px;
}
.copyright{
    font-size: 10px;
}
#intro{
    margin-bottom: 35px;
}
.fa-2x .pointer .ng-binding a{
    overflow-x: auto;
    width: 100%;
}
.editable-click{
    overflow-x: auto; 
}
.panel-default:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) !important;

}
.panel-default{
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5) !important;

}
.panel-default .panel-heading{
    background-color: white !important;
    text-align: center; 
}
.page-header{
    text-align: center;
}
.panel-body a{
    position: absolute;
    bottom: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #0081C4;
    border-color: #0081C4;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #0081C4;
    border-color: #0081C4
}

.btn-primary .badge {
    color: #0081C4;
    background-color: #fff
}

.btn-xl {
    color: #fff;
    background-color: #0081C4;
    border-color: #0081C4;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    border-radius: 3px;
    font-size: 14px;
    padding: 10px 20px
}

.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #fec503;
    border-color: #f6bf01
}

.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none
}

.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #0081C4;
    border-color: #0081C4
}

.btn-xl .badge {
    color: #0081C4;
    background-color: #fff
}

.the-navbar-dropdown {
    background-color: #333333;
    border-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fec503;
    background-color: #333333;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #222;
    text-decoration: none;
    background-color: #222;
}
@media (max-width: 767px) {
    #welcomeCarousel .carousel-inner .item img {
        height:400px;
        width: auto;
        margin: 0 auto;
    }

    #welcomeCarousel .item h1 {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 100%;
        color: #333333;
    }

    #welcomeCarousel .item p {
        position: absolute;
        top: 20%;
        left: 11%;
        width: 60%;
        color: #444444;
    }

    #welcomeCarousel .item a {
        position: absolute;
        top: 40%;
        left: 10%;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color:  #fec503;
        background-color: transparent;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #fff;
    }
}

.the-navbar-dropdown .the-navbar-dropdown:hover, .the-navbar-dropdown .the-navbar-dropdown:focus, .the-navbar-dropdown:active, .the-navbar-dropdown .the-navbar-dropdown.active {
    color: #fec503
}

.navbar-default {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #222;
    border-color: transparent
}
.carousel {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar-default .navbar-brand {
    color: #ffffff;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #fec503
}

.navbar-default .navbar-collapse {
    
    border-color: rgba(255, 255, 255, .02)
}

/*
.navbar-default .navbar-toggle {
    background-color: #0081C4;
    border-color: #0081C4
}
*/

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #fec503;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #fec503;
    outline: 0
}

.navbar-default .navbar-nav > .active > a {
    border-radius: 0;
    color: #fff;
    background-color: #0081C4
}

.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #fec503
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: #333333;
        padding: 0px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
    }
   

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px
    }

    .navbar-default.navbar-shrink {
        background-color: #222;
        padding: 10px 0
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}

.navbar-dropdown {
    background-color: #222;
    border-color: transparent
}

.header-user-image{
    width:50px;
    height:50px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius:50%;
    display:block;
    background-position-y:25%;
    background-position-x:50%;
    background-size: 100%;
}

header {
    background-color: #f7f7f7;
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
}


header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px
    height: 400px;
}

header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px
}

header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 15px
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 110px;
        padding-bottom: 50px;
        height: 800px;
    }

    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 15px
    }

    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        margin-bottom: 25px
    }
}


section {
    padding: 100px 0
}

#intro {
    padding: 0px 0;
}


section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px
}

section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px
}

@media (min-width: 768px) {
    section {
        padding: 100px 0
    }

    #intro {
        padding: 0px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none
}

#portfolio * {
    position: relative;
    z-index: 1000;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}

.timeline > li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}

.timeline > li:before, .timeline > li:after {
    content: " ";
    display: table
}

.timeline > li:after {
    clear: both
}

.timeline > li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}

.timeline > li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline > li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline > li .timeline-image {

    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #0081C4;
    color: #fff;
    border-radius: 100%;
    box-shadow: 0 0 15px rgba(0,129,196,0.5);
    text-align: center
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}

.timeline > li:last-child {
    margin-bottom: 0
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

.timeline .timeline-heading h4.subheading {
    text-transform: none
}

.timeline .timeline-body > p, .timeline .timeline-body > ul {
    margin-bottom: 0
}

@media (min-width: 768px) {
    .timeline:before {
        left: 50%
    }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 100px
    }

    .timeline > li .timeline-panel {
        width: 41%;
        float: left;
        padding: 0 20px 20px 30px;
        text-align: right
    }

    .timeline > li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }

    .timeline > li .timeline-image h4 {
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}

@media (min-width: 992px) {
    .timeline > li {
        min-height: 150px
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px
    }

    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px
    }

    .timeline > li .timeline-image h4 {
        font-size: 18px;
        margin-top: 30px;
        line-height: 26px
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px
    }
}

@media (min-width: 1200px) {
    .timeline > li {
        min-height: 170px
    }

    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px
    }

    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px
    }

    .timeline > li .timeline-image h4 {
        margin-top: 40px
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}

.team-member p {
    margin-top: 0
}

aside.clients img {
    margin: 50px auto
}

footer {
    padding: 0;
    text-align: center
}

footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    display: block;
    background-color: #333333;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}

ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    color: #fed136
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0
}

.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px
}

.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px
}

.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer
}

.portfolio-modal .close-modal:hover {
    opacity: .3
}

.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051
}

.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052
}

.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none
}

::-moz-selection {
    text-shadow: none;
    background: #0081C4
}

::selection {
    text-shadow: none;
    background: #0081C4
}

img::selection {
    background: 0 0
}

img::-moz-selection {
    background: 0 0
}

body {
    webkit-tap-highlight-color: #0081C4
}

.upload-preview{
    max-height: 100px;
    max-width: 100px;
    margin: 10px;
}

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}
.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}

/*tags*/
.bootstrap .tags {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
    border-color: #66afe9;
    box-shadow: inset 0 0 0 rgba(0,0,0,0);
}

.bootstrap .tags .tag-item {
    background: #0081C4;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
}

.bootstrap .tags .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
}

.bootstrap .autocomplete {
    border-radius: 4px;
}

.bootstrap .autocomplete .suggestion-item.selected {
    color: #262626;
    background-color: #e9e9e9;
}

.bootstrap .autocomplete .suggestion-item em {
    font-weight: normal;
    background-color: #fec503;
}

.bootstrap .autocomplete .suggestion-item.selected em {
    color: #262626;
    background-color: #0081C4;
}

.search {
    /*position: absolute;*/
    z-index: -1;
    border: none;
}

.white {
    color : #ffffff;
}

.map-search {
    width: 100%;
}

.s-map {
    height: 600px;
}

.drag-area{
    text-align: center;
    background: #f1f1f1;
    margin: 5px 0 15px;
    padding: 20px 15px 15px;
    border: 1px dashed #ccc;
    min-height: 145px;
}
.drag-area h2{
    margin: 0 0 12px;
    font-size: 15px;
    font-weight: 700;
    color: #ccc;
}

.like-header {
    margin: 0 0 12px;
    font: 300 14px/17px "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #0081C4;
}

.item-box-header {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.item-box-header .item-box-area {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.item-box-header h3, {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.item-box-header h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
}



.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: auto;
    bottom: 0;
    padding: 1em;
    height: 4.75em;
    background: #79FAC4;
    color: #3c4a50;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

.hovereffect:hover img {
    -webkit-transform: translate3d(0,-10%,0);
    transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    float: left;
    margin: 0px;
    display: inline-block;
}

.hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
}
.hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
}


.hovereffect p.icon-links a {
    float: right;
    color: #3c4a50;
    font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
    color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,200%,0);
    transform: translate3d(0,200%,0);
}

.hovereffect p.icon-links a span:before {
    display: inline-block;
    padding: 8px 10px;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/*fix for tag input width on add page*/
tags-input .tags .input {
    width: 150px !important;
}

/*Login*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

.upload-preview {
    height:75px;
    width:75px;
    object-fit:contain;
    -moz-object-fit:contain;
    -ms-object-fit:contain;
    -o-object-fit:contain;
    -webkit-object-fit:contain;
    border:1px solid #0081C4;
    margin: 5px;
}

.upload-preview-wrapper {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}

.removeCross {
    position: absolute;
    right: 5px;
    top: -10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent url(../img/ico-add.png) no-repeat;
    border-radius: 30px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

#search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    margin: 0px 15px 5px 15px;
}

#search-input input{
    border: 0;
    box-shadow: none;
}

#search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#search-input .glyphicon-search{
    font-size: 23px;
}

/*search results START*/

.column {
    float: left;
}
@media screen and (max-width: 480px) {
    .column {
        float: none;
        position: relative;
        clear: both;
    }
}
.size-1of4 {
    width: 25%;
}
.size-1of3 {
    width: 33.333%;
}
.size-1of2 {
    width: 50%;
}

#fh5co-main {
    padding-top: 1em;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: #818892;
    background: #f5f6f7;
}

#fh5co-board .item {
    cursor: pointer;
    max-width: 265px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
@media screen and (max-width: 1024px) {
    #fh5co-board {
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    #fh5co-board .item {
        margin-right: 0;
    }
}
#fh5co-board .item a {
    display: block;
}
#fh5co-board .item .fh5co-desc {
    padding: 0px 15px 10px 20px;
    float: left;
    line-height: 24px;
    list-style-type: none;
}

#fh5co-board .search-tags {
    line-height: 2;
    text-wrap: normal;
    margin: 10px 0 -15px 0px;
    font-family: "Roboto", arial, sans-serif;
    font-size: 14px;
    text-align: left;
}

#fh5co-board .search-address {
    line-height: 1;
    margin: -10px 0 -10px 0;
    text-align: left;
}

#fh5co-board .search-description {
    word-break: break-all;
    line-height: 1.2;
    margin: 0px;
    font-family: "Roboto", arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    color: #818892;
    text-align: left;
}

#fh5co-board .item .fh5co-item-title {
    font-family: "Montserrat", arial, sans-serif;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}
#fh5co-board .item img {
    max-width: 101%;
    margin: -1px -1px -1px -1px;
    -webkit-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
}
#fh5co-board .item .fh5co-board-img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: hidden;
}
#fh5co-board .item .image-popup:hover img {
    opacity: .4;
}

@media screen and (max-width: 480px) {
    .column {
        float: none;
        position: relative;
        clear: both;
    }

}
.search-result-column {
    float: left;
}

@media screen and (max-width: 450px) {
    [class*="search-result-"] {
        width: 100%;
    }
}

@media screen and (min-width: 451px) and (max-width: 700px) {
    [class*="search-result-"] {
        width: 50%;
    }
}

@media screen and (min-width: 701px) and (max-width: 850px) {
    [class*="search-result-"] {
        width: 33.333%;
    }
}

@media screen and (min-width: 851px) {
    [class*="search-result-"] {
        width: 25%;
    }
}
/*search results END*/

/*custom START*/

.blue {
    color: #0081C4;
}

.the-location-hint {
    margin: 0;
    color: #0081C4;
    margin: 0px 15px 0px 20px;
}

.shadow {
    pointer-events: none;
    z-index: 10;
    background: black;
    display: block;
    opacity: .50;
    filter: alpha(opacity=50);
    width: 100%;
    height: 100%;
}

.spinner {
    position:fixed;
    top:48%;
    left:48%;
    z-index: 1000;
}

.search-pic {
    max-height: 230px;
    display: block;
    margin: 0 auto;
}

.delimiter {
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    background-color:#0081C4;
    color:#0081C4;
    border: 0 none;
}

.wrap-the-text {
    word-break: normal;
}

.invisible {
    opacity: 0;
}

.sm-line-shift {
    line-height: 1.1;
}

.font-like-header {
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    color: #0081C4;
}
/*custom END*/

/* user profile page */

@media screen and (max-width: 767px) {
    .profile_nav_link {
        width: 100%;
    }
}
.top-buffer {
    margin-top: 20px;
}
.network_logo {
    margin-right: 10px;
}
.network_logo.fa-facebook {
    color: #3b5998;
}
.network_logo.fa-twitter {
    color: #00aced;
}
.network_logo.fa-vk {
    color: #45668e;
}
.network_logo.fa-google {
    color: #dd4b39;
}

#welcomeCarousel .item h1{
    font-size: 150%;

}   
.modal-body a, p{
    display: block;
    overflow-x: auto; 
}    
#welcomeCarousel .item p{
    height: 105px;
    overflow-y: hidden;
}

/* end user profile page */

/* slider image size */

#myCarousel .carousel-inner .item img {
    height: 200px;
    width: auto;
    margin: 0 auto;
}

/* end slider image size */

/* adaptive top menu */

@media (min-width: 768px) and (max-width: 991px) {
    .navbar .container {
        width: auto;
    }
    .navbar .navbar-brand {
        font-size: 20px;
    }
    .header-user-image {
        margin-right: 0;
    }
    .nav > li > a {
        padding-left: 12px;
        padding-right: 12px;
    }
    .nav > li:first-child > a {
        padding-left: 0;
    }
}
@media (max-width: 767px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: none;
    }
}
@media (min-width: 768px) {
    .navbar-right {
        margin-right: 0;
    }
}

/* end adaptive top menu */

.highlightedTag {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #0081C4;
}

#descriptionArea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    /*overflow: auto;*/
    width: auto;
    height: 110px;
    padding: 10px;
    border-radius: 4px;
    background-color: #ffffff;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder);
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #bbb;
}
/* button write */

.button_write {
    float: left;
    margin-top: 20px;
}
@media screen and (max-width: 767px) {
    .button_write {
        width: 100%;
    }
}

/* end button write */

/* page footer */

html {
    height: 100%
}
body {
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}
.bg-light-gray:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f7f7f7;
}
.bg-light-gray .container {
    position: relative;
    z-index: 3;
}
.page_footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #eee;
}
@media screen and (max-width: 1199px) {
    body {
        padding-bottom: 120px;
    }
}
@media screen and (max-width: 991px) {
    body {
        padding-bottom: 155px;
    }
}

/* end page footer */

/* language list */

.language_list_item {
    margin-left: 10px;
}
.language_list_item:first-child {
    margin-bottom: 5px;
}

/* end language list */

/* dialog */

.dialog_list {
    height: 344px;
    margin-bottom: 20px;
    overflow: auto;
    border: 1px solid #337ab7;
    border-radius: 4px;
}
.dialog_container {
    position: relative;
    margin: 10px 15px 0;
    padding: 0 0 15px;
    border-bottom: 1px solid #ccc;
}
.dialog_list_item:last-child .dialog_container {
    margin-bottom: 25px;
}
.dialog_container_user {
    margin: 0 0 7px;
    line-height: 1.4;
    font-weight: 700;
    color: #333;
}
.dialog_container_text {
    line-height: 1.4;
    color: #777;
    word-wrap: break-word;
}
.dialog_container_date {
    float: right;
    margin: 0;
    font-size: 12px;
    line-height: 1.4;
    color: #777;
}
.dialog_container_date_label {
    margin-right: 5px;
}
.dialog_container_button {
    text-transform: capitalize;
}

/* end dialog */

/* menu dropdown */

.dropdown_item:hover .dropdown-menu {
    display: block;
}

/* end menu dropdown */

/* BAC-67 */

#map {
    position: relative;
}
.map-close {
    position: absolute;
    top: -67px;
    right: -27px;
    width: 27px;
    height: 27px;
    background: url(../img/map-close.png) no-repeat 0 0;
    cursor: pointer;
}

/* end BAC-67 */

/* BAC-73 */

#fh5co-board {
    margin: 0 auto;
}
@media screen and (max-width: 1200px) {
    #fh5co-board {
        width: 860px;
    }
}
@media screen and (max-width: 992px) {
    #fh5co-board {
        width: 580px;
    }
    #fh5co-main {
        margin-right: -20px;
    }
}
@media screen and (max-width: 600px) {
    #fh5co-board {
        width: 290px;
    }
}

/* end BAC-73 */

@media screen and (max-width: 600px) {
    #fh5co-board {
        width: 290px;
    }
}

/* BAC-108 */

@media screen and (min-width: 992px) {
    #itemForm .drag-area {
        margin-top: 0;
    }
}

/* end BAC-108 */

/*Chat messages & dialogs */
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    position: relative;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/*--End of Chat message & dialogs*/

/*Error Template CSS*/
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
/*End of Error Template CSS*/

.main-slide {
    background-image:url('../img/na.png');
}

#welcomeCarousel .carousel-inner .item img {
    width: auto;
    margin: 0 auto;
}

#welcomeCarousel .item h1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 80%;
    color: #333333;
}
/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    text-align: center;

}

.inner-bg {
    padding: 55px 0 60px 0;
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}

.coming-soon h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.coming-soon p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 36px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.timer {
    margin-top: 40px;
    text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.com img{
    margin-top: 5%;
    max-width: 100%;
}
.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
    display: inline-block;
    width: 160px;
    height: 160px;
    margin: 0 10px;
    padding-top: 20px;
    background: #e75967;
    color: white;
    font-size: 18px;
    line-height: 22px;
    -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}

.timer .days-wrapper:hover,
.timer .hours-wrapper:hover,
.timer .minutes-wrapper:hover,
.timer .seconds-wrapper:hover {

    text-shadow: none;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
    font-size: 80px;
    line-height: 90px;
}


#welcomeCarousel .item p {
    position: absolute;
    top: 40%;
    left: 21%;
    width: 60%;
    color: #444444;
}

#welcomeCarousel .item a {
    position: absolute;
    top: 70%;
    left: 20%;
}

#intro .btn-xl {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    color: #ffffff;
    background-color: #333333;
    border-color: #ffffff;
    opacity: 0.9;
}

#intro .btn-xl:hover,.btn-xl:focus {
    color: #fec503;
    background-color: #333333;
    border-color: #fec503;
    opacity: 0.9;
}

#intro .carousel-control {
    color: #595B67;
}

#intro .carousel-control:hover,
.carousel-control:focus {
    color: #222222;
}

#intro .carousel-indicators li {
    border: 1px solid #595B67;
}

#intro .carousel-indicators .active {
    background-color: #595B67;
}

.btn-xl {
    color: #ffffff;
    background-color: #333333;
    border-color: #ffffff;
    opacity: 0.9;
}

.btn-xl:hover,.btn-xl:focus {
    color: #fec503;
    background-color: #333333;
    border-color: #fec503;
    opacity: 0.9;
}

.btn-lg {
    color: #ffffff;
    background-color: #333333;
    border-color: #ffffff;
    opacity: 0.9;
}

.btn-lg:hover,.btn-lg:focus {
    color: #fec503;
    background-color: #333333;
    border-color: #fec503;
    opacity: 0.9;
}

.btn-md {
    color: #ffffff;
    background-color: #333333;
    border-color: #ffffff;
    opacity: 0.9;
}


.btn-md:hover,.btn-md:focus {
    color: #fec503;
    background-color: #333333;
    border-color: #fec503;
    opacity: 0.9;
}

.btn-primary {
    color: #ffffff;
    background-color: #333333;
    border-color: #ffffff;
    opacity: 0.9;
}

.btn-primary:hover,.btn-primary:focus {
    color: #fec503;
    background-color: #333333;
    border-color: #fec503;
    opacity: 0.9;
}

.lang-sm[lang=ru] {
    background-position: 0 -997px;
}

.navbar-brand:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
