<section id="collector" ng-controller="collectorController">
    <div class="container">
        <collector-tabs></collector-tabs>
        <div class="col-lg-12">
            <h1>Collector Analytics</h1>
        </div>
        <div class="col-lg-12">
            <h1>Trigger Collection</h1>
        </div>
        <div class="col-lg-12">
            <button type="button" class="btn btn-info" ng-click="collect()">Collect</button>
        </div>
    </div>
</section>
