<section id="social-public" ng-controller="publicController">
    <div class="container">
        <collector-tabs></collector-tabs>
        <div class="col-lg-12">
            <h1>Social Network Terminal</h1>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="social-network">Select network:</label>
                <select class="form-control" id="social-network" ng-model="network">
                    <option>facebook</option>
                    <option>twitter</option>
                    <option>google</option>
                    <option>vkontakte</option>
                </select>
                <label for="socialPublicId">Public Id:</label>
                <input type="text" class="form-control" id="socialPublicId" ng-model="socialPublicId">

                <br>
                <button type="button" class="btn btn-info" ng-click="getInfo()">Get Info</button>
            </div>
        </div>
        <div class="col-md-3" ng-if="current != null">
            <h4>Id <span class="label label-default">{{current.id}}</span></h4>
            <h4>Name <span class="label label-default">{{current.name}}</span></h4>
            <h4>Followers <span class="label label-default">{{current.followers}}</span></h4>
            <h4>Location <span class="label label-default">{{current.location}}</span></h4>
            <h4>Description <span class="label label-default">{{current.description}}</span></h4>
            <button type="button" class="btn btn-info" ng-click="add()">Add to Collection</button>
        </div>
        <div class="col-lg-12">
            <h1>Database Administration</h1>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Search public" id="search-public"
                           ng-model="searchPublic">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info" ng-click="searchByTitle()">Find</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" ng-disabled="!deleteEnabled" class="btn btn-info" ng-click="delete()">Delete</button>
                    <button type="button" ng-disabled="!editEnabled" class="btn btn-info" ng-click="edit()">Edit</button>
                    <button type="button" ng-disabled="!refreshEnabled" class="btn btn-info" ng-click="refreshSocialData()">Refresh Social Info</button>
                    <button type="button" ng-disabled="!enableEnabled" class="btn btn-info" ng-click="enable()">Enable</button>
                    <button type="button" ng-disabled="!disableEnabled" class="btn btn-info" ng-click="disable()">Disable</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
                </div>
            </div>
        </div>


    </div>
</section>