<div class="col-lg-12">
    <div class="row">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : isPillActive('#/collector')}"><a href="#collector">Collection</a></li>
            <li ng-class="{'active' : isPillActive('#/collector/public')}"><a href="#collector/public">Social Public</a>
            </li>
        </ul>
    </div>
</div>