<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row text-center">
            <iframe width="840" height="630"
                    src="http://www.youtube.com/embed/YLL2OPqelAk?autoplay=1">
            </iframe>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">{{'about.target' | translate}}</h3>
                <h3 class="section-subheading text-muted">{{'about.description' | translate}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>{{'about.loss.first' | translate}}<br/>{{'about.loss.second' | translate}}</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{'about.loss.question' | translate}}</h4>
                                <h4 class="subheading">{{'about.loss.answer' | translate}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{'about.loss.description' | translate}}</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>{{'about.back.first' | translate}}<br/>{{'about.back.second' | translate}}</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{'about.back.question' | translate}}</h4>
                                <h4 class="subheading">{{'about.back.answer' | translate}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{'about.back.description' | translate}}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>{{'about.points.first' | translate}}<br/>{{'about.points.second' | translate}}</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>{{'about.points.question' | translate}}</h4>
                                <h4 class="subheading">{{'about.points.answer' | translate}}</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">{{'about.points.description' | translate}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>