<section id="add" ng-controller="subscriptionController" xmlns="http://www.w3.org/1999/html" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{'add.lost.header' | translate}}</h2>
                <p class="section-subheading" translate>{{'add.lost.invite' | translate}}<p>
            </div>
        </div>
        <!-- spinner -->
        <div ng-show="showProgress" class="spinner">
            <i class="fa fa-spin fa-4x blue fa-spinner"></i>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <tags-input class="bootstrap search" ng-model="tagsToSubscribe"
                            add-on-space="true" add-on-enter="true"
                            on-tag-added="search()"
                            on-tag-removed="search()"
                            min-length="2"
                            placeholder="{{'placeholder.subscribeTags' | translate}}">
                    <!--http://mbenford.github.io/ngTagsInput/documentation/api-->
                    <auto-complete source="complete($query)"
                                   min-length="2"
                                   max-results-to-show="7">
                    </auto-complete>
                </tags-input>
                <input
                        ng-if="!user.valid"
                        type="email"
                        name="email"
                        class="form-control"
                        ng-required="!user.valid"
                        ng-model="user.email"
                        placeholder="{{'hint.email' | translate}}"/>
                <br/>
                <input type="text" places-auto-complete
                       class="form-control"
                       ng-model="subscription.location"
                       type="['address']"
                       class="bootstrap map-search"
                       on-place-changed="locationChanged()"
                       placeholder="{{'add.location' | translate}}"
                       ng-focus="hideAlert()">

                <br/>

                <div class="alert" id="alert" ng-class="alertClass" arial-label="close">
                    {{alertText}}
                </div>
                <div class="col-lg-12 text-center form-group">
                    <button type="button" class="btn btn-primary" ng-click="subscribe()">Subscribe</button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</section>


