<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()">&times;</button>
        <h4 class="modal-title">{{'feedback.leaveFeedback' | translate}}</h4>
    </div>
    <section style="padding: 30px 0;">
        <div class="modal-body text-center">

            <input type="text"
                   ng-model="feedback.summary"
                   class="form-control"
                   maxlength="1000"
                   placeholder="{{'feedback.summary' | translate}}">
                <br/>
               <textarea class="form-control add-description-area"
                          ng-model="feedback.content" id="message" ng-focus="hideAlert()">
               </textarea>
            <br/>
            <div class="alert" id="alert" ng-class="alertClass" arial-label="close">
                {{alertText}}
            </div>
        </div>
    </section>
    <div class="modal-footer">
        <button type="button" ng-hide="feedbackSaved" class="btn btn-primary"
                ng-click="leaveFeedback()">{{'button.save' | translate}}
        </button>

        <button type="button" ng-hide="feedbackSaved" class="btn btn-primary" ng-click="no()"
                data-dismiss="modal"><i class="fa fa-times"></i> {{'button.cancel' | translate}}
        </button>

        <button type="button" ng-show="feedbackSaved" class="btn btn-primary" ng-click="yes()">Ok</button>
    </div>
</div>
