<adminfeedbacks>
    <div ng-if="adminFeedbacks.length > 0">
        <!--nav div-->
        <a class="alert" id="alert" ng-class="alertClass" arial-label="close" style="margin-left: 40%;">
            {{alertText}}
        </a>

        <div class="col-lg-12" id="admin-feedback-nav" onmousedown="return false" onselectstart="return false">
            <a ng-click="previousFI()"><span
                    class="glyphicon glyphicon-align-left glyphicon-chevron-left"
                    aria-hidden="true"></span>
            </a>

           <!-- <span>
                <a>EditMode:</a>
                <input type="checkbox" value="" ng-model="editmode" ng-change='changeMode()'>
            </span>-->

            <button type="button" class="btn btn-primary ng-binding col-md-offset-1" ng-click="saveFI()">
                {{'button.save' | translate}}
            </button>
            <button type="button" class="btn btn-primary ng-binding" ng-click="deleteFI()">
                {{'button.delete' | translate}}
            </button>
            <a class="float-right" ng-click="nextFI()">
            <span class="glyphicon glyphicon-align-right glyphicon-chevron-right"
                  aria-hidden="true"></span>
            </a>
        </div>
        <!--nav-->
        <div class="col-lg-12" id="fi-nav">
            <div ng-repeat="item in adminFeedbacks" ng-click="selectF(item)" ng-class="getFINavClass(item)">
                {{item.id}}
            </div>
        </div>

        <div class="col-lg-12">
            <div>
                <a>ID: {{currentAdminFeedback.id}}</a>
                <!--<a>TODO ADD MODAL USER INFO</a>-->
                <a>User: {{currentAdminFeedback.user.displayname}}</a>
            </div>
            <div>
                <p>Summary:</p>
                <input type="text" ng-model="currentAdminFeedback.summary" ng-readonly="!editmode"
                       class="form-control ng-pristine ng-valid ng-valid-maxlength ng-touched"
                       maxlength="1000" placeholder="Short summary">
            </div>
            <div>
                <p>Content: </p>
                <textarea class="form-control add-description-area" placeholder="{{add.description}}"
                          ng-readonly="!editmode" ng-model="currentAdminFeedback.content" id="message" ng-focus="hideAlert()">
                </textarea>
            </div>
        </div>

    </div>
    <div ng-if="adminFeedbacks.length <= 0">
        <p>NO ITEMS</p>
    </div>
</adminfeedbacks>