<adminworkitems>
    <div ng-if="workItems.length > 0">
        <!--nav div-->
        <a class="alert" id="alert" ng-class="alertClass" arial-label="close" style="margin-left: 40%;">
            {{alertText}}
        </a>

        <div class="col-lg-12" onmousedown="return false" onselectstart="return false">
            <a ng-click="previousWI()"><span
                    class="glyphicon glyphicon-align-left glyphicon-chevron-left"
                    aria-hidden="true"></span></a>
            <button type="button" class="btn btn-primary ng-binding col-md-offset-1" ng-click="saveWI()">
                {{'button.save' | translate}}
            </button>
            <button type="button" class="btn btn-primary ng-binding" ng-click="removeWI()">
                {{'button.delete' | translate}}
            </button>
            <a class="col-md-offset-7" ng-click="nextWI()">
            <span class="glyphicon glyphicon-align-right glyphicon-chevron-right"
                  aria-hidden="true"></span>
            </a>
        </div>
        <!--nav-->
        <div class="col-lg-12" id = "wi-nav">
            <a ng-repeat="item in workItems" ng-click="selectItem(item)">
                <img ng-if="item.item.photoUrls.length <= 0" src="img/na.png"
                     ng-class="getNavItemClass(item)">
                <img ng-if="item.item.photoUrls.length > 0" ng-src="{{item.item.photoUrls[0]}}"
                     ng-class="getNavItemClass(item)">
            </a>
        </div>

        <!--item div-->
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-9">
                    <div class="input-group col-md-12">
                        <div>
                            <span href="" class="search-tags" ng-repeat="tag in currentItem.item.tags">
                                <a ng-click="deleteTag(tag)"><span class="glyphicon glyphicon-trash"></span></a>
                                <a>#{{tag}}&nbsp</a>
                            </span>
                        </div>

                        <!--<tags-input class="bootstrap search" ng-model="currentItem.item.tags"
                                    add-on-space="true" add-on-enter="true"
                                    on-tag-added="search()"
                                    on-tag-removed="search()"
                                    min-length="2"
                                    placeholder="{{'placeholder.search' | translate}}">
                            &lt;!&ndash;http://mbenford.github.io/ngTagsInput/documentation/api&ndash;&gt;
                            <auto-complete source="complete($query)"
                                           min-length="2"
                                           max-results-to-show="7">
                            </auto-complete>
                        </tags-input>-->
                        <!-- <span class="input-group-btn">
                             <button class="btn btn-info btn-lg" ng-click="search()" type="button">
                                 <i class="glyphicon glyphicon-search"></i>
                             </button>
                         </span>-->
                    </div>
                    <div>
                        <input type="text" places-auto-complete
                               class="form-control"
                               ng-model="currentItem.item.location"
                               type="['address']"
                               class="bootstrap map-search"
                               on-place-changed="locationChanged()"
                               placeholder="{{add.location}}"
                               ng-focus="hideAlert()">
                    </div>
                    <div class="form-group">
                                <textarea class="form-control add-description-area" placeholder="{{add.description}}"
                                          ng-model="currentItem.item.description" id="message" ng-focus="hideAlert()">
                                </textarea>
                    </div>
                </div>
                <div class="col-md-3">
                    <ul style="list-style-type: none;">
                        <li ng-repeat="photoUrl in currentItem.item.photoUrls" data-gallery>
                            <a ng-click="deletePhoto(photoUrl)"><span class="glyphicon glyphicon-trash"></span></a>
                            <a ng-click="openPhoto(photoUrl)">
                                <img ng-src="{{photoUrl}}" style="width: 30%;">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div ng-if="workItems.length <= 0">
        <p>NO ITEMS</p>
    </div>
</adminworkitems>