<section id="admin" ng-controller="adminController">
    <div class="container">
        <div class="col-lg-2"  id = "admin-nav-panel">
            <div class="row">
                <a ng-click="changeTool(adminpanels[0])" ng-class="getToolClass(adminpanels[0])">Disabled items</a>
            </div>
            <div class="row">
                <a ng-click="changeTool(adminpanels[1])" ng-class="getToolClass(adminpanels[1])">Feedbacks</a>
            </div>
        </div>

        <div class="col-lg-10" ng-if="admintool == adminpanels[0]">
            <backloss-adminworkitems></backloss-adminworkitems>
        </div>
        <div class="col-lg-10" ng-if="admintool == adminpanels[1]">
            <backloss-adminfeedbacks></backloss-adminfeedbacks>
        </div>
    </div>
</section>
