<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()">&times;</button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <section style="padding: 30px 0;">
        <div class="modal-body text-center">
            <p>{{message}}</p>
            <br/>
        </div>

    </section>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="no()" data-dismiss="modal">
            <i class="fa fa-times"></i> {{'popup.close' | translate}}
        </button>
    </div>

</div>
