<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()">&times;</button>
        <h4 class="modal-title">{{'profile.delete' | translate}}</h4>
    </div>
    <section style="padding: 0;">
        <div class="modal-body text-center">
            <p>{{'profile.onDeleteMsg' | translate}}</p>
            <br/>

            <div class="alert" id="alert" ng-class="alertClass" arial-label="close">
                {{alertText}}
            </div>
        </div>
    </section>
    <div class="modal-footer">
        <button type="button" ng-hide="profileDeactivated" class="btn btn-primary"
                ng-click="deactivate()">{{'button.deactivate' | translate}}
        </button>

        <button type="button" ng-hide="profileDeactivated" class="btn btn-primary" ng-click="no()"
                data-dismiss="modal"><i class="fa fa-times"></i> {{'button.cancel' | translate}}
        </button>

        <button type="button" ng-show="profileDeactivated" class="btn btn-primary" ng-click="yes()">Ok</button>
    </div>
</div>
