<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()">&times;</button>
        <h4 class="modal-title">{{'subscriptions.edit' | translate}}</h4>
    </div>
    <section style="padding: 30px 0;">
        <div class="modal-body text-center">
            <tags-input class="bootstrap search" ng-model="subscription.tags"
                        add-on-space="true" add-on-enter="true"
                        on-tag-added="search()"
                        on-tag-removed="search()"
                        min-length="2"
                        placeholder="{{'placeholder.subscribeTags' | translate}}">
                <!--http://mbenford.github.io/ngTagsInput/documentation/api-->
                <auto-complete source="complete($query)"
                               min-length="2"
                               max-results-to-show="7">
                </auto-complete>
            </tags-input>

            <input type="text" places-auto-complete
                   class="form-control"
                   ng-model="subscription.location"
                   type="['address']"
                   class="bootstrap map-search"
                   on-place-changed="locationChanged()"
                   placeholder="{{'add.location' | translate}}"
                   ng-focus="hideAlert()">

            <br/>

            <div class="alert" id="alert" ng-class="alertClass" arial-label="close">
                {{alertText}}
            </div>
        </div>
    </section>
    <div class="modal-footer">
        <button type="button" ng-hide="subscriptionUpdated" class="btn btn-primary"
                ng-click="update()">{{'button.save' | translate}}</button>

        <button type="button" ng-hide="subscriptionUpdated" class="btn btn-primary" ng-click="no()"
                data-dismiss="modal"><i class="fa fa-times"></i> {{'button.cancel' | translate}}</button>

        <button type="button" ng-show="subscriptionUpdated" class="btn btn-primary" ng-click="yes()">Ok</button>
    </div>
</div>
