<section id="feedback" class="bg-light-gray" ng-controller="feedbackController">
    <div class="container">
        <div class="row">

            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <h2 class="page-header text-center">
                    {{'feedback.user.about' | translate}}
                    <small>itcameback</small>
                </h2>

                <div ng-repeat="feedback in feedbacks">
                    <div class="col-lg-12">
                        <h4>
                            <a href="">{{feedback.summary}}</a>
                        </h4>

                        <p>{{feedback.content}}</p>
                    </div>

                    <div class="col-lg-12">
                        <p class="pull-right"><b>{{feedback.user.displayname}}</b>
                            posted on {{feedback.timestmp | date: 'dd MMM yyyy HH:mm '}}
                            <span class="glyphicon glyphicon-time"></span></p>
                    </div>
                    <div class="col-lg-12">
                        <hr style="margin-top: 0px;"/>
                    </div>
                </div>

                <ul ng-show="hasMore" class="pager text-center">
                    <li class="previous">
                        <a href="" ng-click="moreFeedbacks()">&darr; Older</a>
                    </li>
                </ul>
                <br/>
                <br/>

            </div>

            <div class="col-lg-2">
            </div>
            <div class="col-md-12 text-center">
                <a href="" ng-click="openAddFeedbackPopup()" class="btn btn-lg">{{'feedback.leaveFeedback' | translate}}</a>
            </div>
        </div>
    </div>
</section>
