<footer class="page_footer">
    <hr class="hidden" style="margin-top: 0px;"/>
    <div class="container">
        <div class="row">
            <hr class="hidden" style="margin-top: 0px;"/>
            <div class="col-md-3">
                <span class="copyright">{{'copyright' | translate}} &copy {{'service' | translate}}</span>
            </div>
            <div class="col-md-6">
                <ul class="list-inline quicklinks">
                    <li><a href="#">{{'privacy' | translate}}</a>
                    </li>
                    <li><a href="#">{{'terms' | translate}}</a>
                    </li>
                    <li><a href="" ng-click="openAddFeedbackPopup()">{{'feedbacks' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="btn-group dropup" ng-controller="languageController">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="lang-sm lang-lbl-full" lang="{{userLang}}"></span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu language_list" role="menu">
                        <li class="language_list_item" ng-click="changeLanguage('ru')"><span class="lang-sm lang-lbl-full" lang="ru"></span></li>
                        <li class="language_list_item" ng-click="changeLanguage('en')"><span class="lang-sm lang-lbl-full" lang="en"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>