<section id="forgot" class="bg-light-gray" ng-controller="forgotController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'forgot.heading' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                    <form class="form-signin" name="f" action="user/recover/password" method="post">
                        <input type="text"
                               title="{{'hint.email' | translate}}"
                               name="email"
                               class="form-control"
                               placeholder="{{'login.email' | translate}}"
                               autofocus>
                        <br>
                        <div ng-show="showError" class="alert alert-danger">
                            <a href="javascript:void(0)" class="close" data-dismiss="alert"
                               aria-label="close">&times;</a>
                            <strong>{{errors[errorCode] | translate}}</strong>
                            <br>
                            <a href="#register">{{'login.signup' | translate}}</a>
                        </div>
                        <div ng-show="showSuccess" class="alert alert-success">
                            <strong>{{'forgot.checkEmail' | translate}}</strong>{{'forgot.success' | translate}}
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            {{'forgot.recover' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
