<div class="row">
    <div class="col-lg-12">
        <h3 class="section-heading">{{'profile.found' | translate}}:</h3>
    </div>
    <div class="col-md-12">
        <div id="fh5co-main">
            <div id="fh5co-board">
                <div>
                    <p ng-show="foundItems.length == 0">{{'label.empty' | translate}}</p>
                </div>
                <div class="item" ng-repeat="item in foundItems">
                    <div ng-show="item.photoUrls.length != 0">
                        <a href="" class="image-popup fh5co-board-img">
                            <img ng-src="{{item.photoUrls[0]}}">
                        </a>
                    </div>

                    <ul class="fh5co-desc pull-left wrap-the-text">
                        <li>

                            <a href="" class="search-tags" ng-repeat="tag in item.tags">
                                #{{tag}}&nbsp
                            </a>
                            <hr/>
                        </li>
                        <li>
                            <p class="search-address wrap-the-text">
                                {{item.location}}
                            </p>
                            <hr/>
                        </li>
                        <li ng-show="item.photoUrls.length == 0">
                            <p class="search-description wrap-the-text">
                                {{item.description | limitTo: 350 }}
                                {{item.description.length > 350 ? &nbsp;'...': ''}}
                            </p>
                        </li>
                    </ul>
                    <div class="fh5co-desc pull-left">
                        <a href="" class="glyphicon glyphicon-edit pull-right" ng-click="openItem(item.id)">Edit</a>
                    </div>
                    <div class="fh5co-desc pull-right">
                        <i class="glyphicon glyphicon-time"></i> {{item.timestamp | date: 'dd MMM yyyy HH:mm'}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>