<section id="intro">

    <div id="welcomeCarousel" class="carousel"
         data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#welcomeCarousel" data-slide-to="0"
                class="active"></li>
            <li data-target="#welcomeCarousel" data-slide-to="1"></li>
            <li data-target="#welcomeCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner" role="listbox">
            <div class="item">
                <img ng-src="img/gradient-blur.jpg">
                <h1>{{'slider.found.heading' | translate}}</h1>
                <p>{{'slider.found.description' | translate}}</p>
                <a href="#add" class="btn btn-xl">
                    {{'slider.found.button' | translate}}
                </a>
            </div>
            <div class="item active">
                <img style="opacity: 0.6" ng-src="img/map-blur.jpg">
                <h1>{{'slider.lost.heading' | translate}}</h1>
                <p>{{'slider.lost.description' | translate}}</p>
                <a href="#lost" class="btn btn-xl">
                    {{'slider.lost.button' | translate}}
                </a>
            </div>
            <div class="item">
                <img style="opacity: 0.6" ng-src="img/gradient-grey.jpg">
                <h1>{{'slider.search.heading' | translate}}</h1>
                <p>{{'slider.search.description' | translate}}</p>
                <a href="#add" class="btn btn-xl">
                    {{'slider.search.button' | translate}}
                </a>
            </div>
        </div>


        <!-- Left and right controls -->
        <a class="left carousel-control" href="#welcomeCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#welcomeCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">
                    {{'service.heading' | translate}}
                </h2>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img ng-src="img/ease.jpg">
                    </div>
                    <div class="panel-body">

                        <p>{{'benefit.easy.description' | translate}}</p>
                        <a href="#" class="btn btn-default">{{'learn.more' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img ng-src="img/social_integration.jpg">
                    </div>
                    <div class="panel-body">
                        <p>{{'benefit.social.description' | translate}}</p>
                        <a href="#" class="btn btn-default">{{'learn.more' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img ng-src="img/social-sharing.jpg">
                    </div>
                    <div class="panel-body">
                        <p>{{'benefit.share.description' | translate}}</p>
                        <a href="#" class="btn btn-default">{{'learn.more' | translate}}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <img ng-src="img/secure.jpg">
                    </div>
                    <div class="panel-body">
                        <p>{{'benefit.security.description' | translate}}</p>
                        <a href="#" class="btn btn-default">{{'learn.more' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
     <div class="coming-soon">
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">

                            <img ng-src="img/2.png">
                            </div>
                        <div class="com col-sm-8">

                            <h2>Coming Soon mobile applications!</h2>
                            <p>We are working very hard on the new version of our mobile applications on android and ios. It will bring a lot of new features. Stay tuned!</p>
                            <div class="timer">
                                <div class="days-wrapper">
                                    <span class="days"></span> <br>days
                                </div>
                                <div class="hours-wrapper">
                                    <span class="hours"></span> <br>hours
                                </div>
                                <div class="minutes-wrapper">
                                    <span class="minutes"></span> <br>minutes
                                </div>
                                <div class="seconds-wrapper">
                                    <span class="seconds"></span> <br>seconds
                                </div>
                            </div>
                            <img ng-src="img/3.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

<script>
    /*
     Countdown initializer
     */
    var now = new Date();
    var countTo = 25 * 24 * 60 * 60 * 1000 + now.valueOf();
    $('.timer').countdown(countTo, function(event) {
        $(this).find('.days').text(event.offset.totalDays);
        $(this).find('.hours').text(event.offset.hours);
        $(this).find('.minutes').text(event.offset.minutes);
        $(this).find('.seconds').text(event.offset.seconds);
    });
</script>