<!-- Add Item Section -->
<section id="add" xmlns="http://www.w3.org/1999/html" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{headerText}}</h2>
                <p class="section-subheading">{{belowHeaderText}}<p>
            </div>
        </div>
        <!-- spinner -->
        <div ng-show="showProgress" class="spinner">
            <i class="fa fa-spin fa-4x blue fa-spinner"></i>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form name="saveItem" id="itemForm">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <input places-auto-complete
                                   class="form-control"
                                   ng-model="item.location"
                                   type="['address', 'places']"
                                   class="bootstrap map-search"
                                   on-place-changed="locationChanged()"
                                   placeholder="{{'add.location' | translate}}"
                                   ng-focus="hideAlert()">

                            <p></p>
                            <input
                                    ng-if="!user.valid"
                                    name="email"
                                    class="form-control"
                                    ng-model="user.email"
                                    placeholder="{{'hint.email' | translate}}"/>
                            <p></p>
                            <div class="form-group">
                                <textarea class="form-control add-description-area" placeholder="{{'add.description' | translate}}"
                                          ng-model="userText" maxlength="1000" id="message" ng-focus="hideAlert()">
                                </textarea>
                            </div>
                            <p></p>
                            <div ng-file-drop
                                    ng-file-select
                                    ng-controller="uploadController"
                                    ng-model="files"
                                    class="drag-area"
                                    id="drag-area"
                                    drag-over-class="dragover"
                                    ng-multiple="true"
                                    accept="image/png,image/jpeg"
                                    ng-click="hideAlert()">
                                <h2>{{'add.photo' | translate}}</h2>
                            </div>
                            <p></p>
                            <div class="alert" id="alert" ng-class="alertClass" arial-label="close">
                                {{alertText}}<strong ng-show="mode == 'found'"><a href="#/item/{{savedId}}" target="_blank"> {{link}}</a></strong>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-lg-12 text-center form-group">
                            <button type="submit" ng-click="save()" class="btn btn-xl">
                                {{'button.save' | translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
