<!-- Add Item Section -->
<section id="add" ng-controller="itemController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="modal-body">

                    <p>
                        <i ng-repeat="tag in item.tags" class="fa fa-2x">#{{tag}}&nbsp</i>
                    </p>

                    <div id="myCarousel" ng-show="item.photoUrls.length > 0" class="carousel" ng-class="{slide: item.photoUrls.length > 0}"
                         data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li ng-show="item.photoUrls.length > 1" data-target="#myCarousel" data-slide-to="0"
                                class="active"></li>
                            <li ng-show="item.photoUrls.length > 1" data-target="#myCarousel" data-slide-to="1"></li>
                            <li ng-show="item.photoUrls.length > 2" data-target="#myCarousel" data-slide-to="2"></li>
                            <li ng-show="item.photoUrls.length > 3" data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item" ng-class="{active:!$index}" ng-repeat="photo in item.photoUrls">
                                <img ng-src="{{photo}}" alt="Chania">
                            </div>
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <p>{{item.description}}</p>

                    <br/>

                    <a class="fa fa-2x pointer"><i class="fa fa-map-marker pointer"></i> {{item.location}}</a>

                    <p></p>
                    <ng-map zoom="12" center="{{marker.coordinates}}" styles="[{'featureType':'administrative','elementType':'labels.text.fill','stylers':[{'color':'#444444'}]},{'featureType':'landscape','elementType':'all','stylers':[{'color':'#f2f2f2'}]},{'featureType':'poi','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'road','elementType':'all','stylers':[{'saturation':-100},{'lightness':45}]},{'featureType':'road.highway','elementType':'all','stylers':[{'visibility':'simplified'}]},{'featureType':'road.highway','elementType':'geometry.fill','stylers':[{'color':'#ffffff'}]},{'featureType':'road.arterial','elementType':'labels.icon','stylers':[{'visibility':'off'}]},{'featureType':'transit','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'water','elementType':'all','stylers':[{'color':'#dde6e8'},{'visibility':'on'}]}]">
                        <marker position="{{marker.coordinates}}"/>
                        <shape name="circle" radius="50" center="{{marker.coordinates}}" radius="50"/>
                        <control name="overviewMap" opened="true"/>
                    </ng-map>

                    <p></p>

                    <div class="form-group ">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="javascript:void(0)"
                                   socialshare
                                   socialshare-provider="facebook"
                                   socialshare-text="{{item.description}}"
                                   socialshare-hashtags="{{item.tags.join(',')}}"
                                   socialshare-url="{{item.link}}">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li><a href="javascript:void(0)"
                                   socialshare
                                   socialshare-provider="twitter"
                                   socialshare-text="{{item.description}}"
                                   socialshare-hashtags="{{item.tags.join(',')}}"
                                   socialshare-url="{{item.link}}"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="javascript:void(0)"
                                   socialshare
                                   socialshare-provider="google+"
                                   socialshare-text="{{item.description}}"
                                   socialshare-hashtags="{{item.tags.join(',')}}"
                                   socialshare-url="{{item.link}}"><i class="fa fa-google"></i></a>
                            </li>
                            <li><a href="javascript:void(0)"
                                   socialshare
                                   socialshare-provider="vk"
                                   socialshare-text="{{item.description}}"
                                   socialshare-hashtags="{{item.tags.join(',')}}"
                                   socialshare-url="{{item.link}}"><i class="fa fa-vk"></i></a>
                            </li>
                            <li><a href="javascript:void(0)"
                                   socialshare
                                   socialshare-provider="pinterest"
                                   socialshare-text="{{item.description}}"
                                   socialshare-hashtags="{{item.tags.join(',')}}"
                                   socialshare-url="{{item.link}}"><i class="fa fa-pinterest"></i></a>
                            </li>
                            <li><a href="javascript:void(0)"
                                   socialshare
                                   socialshare-provider="linkedin"
                                   socialshare-text="{{item.description}}"
                                   socialshare-hashtags="{{item.tags.join(',')}}"
                                   socialshare-url="{{item.link}}"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" ng-click="copyLink()">
                                    <i class="fa fa-link"></i>
                                </a>
                            </li>

                        </ul>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div ng-show="showSuccess" class="alert alert-success" id="sendMessageSuccessAlert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>{{'messages.send.success' | translate}}</strong>
                    </div>
                    <div class="input-group">
                        <textarea class="form-control custom-control" ng-model="message" rows="3" style="resize:none"></textarea>
                        <span class="input-group-addon btn btn-primary" maxlength="1000" ng-click="writeMessage()">
                            {{'message.send' | translate}}
                         </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>