<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="no()">&times;</button>
        <h4 class="modal-title">{{'item.edititem'  | translate}}</h4>
    </div>
    <section style="padding: 30px 0;">
        <div class="modal-body text-center">
            <p>
                <i ng-repeat="tag in tagsToSubscribeFor" class="text-primary pointer fa fa-2x">#{{tag}}&nbsp</i>
            </p>
            <input type="text" places-auto-complete
                   class="form-control"
                   ng-model="item.location"
                   type="['address']"
                   class="bootstrap map-search"
                   on-place-changed="locationChanged()"
                   placeholder="{{'add.location' | translate}}"
                   ng-focus="hideAlert()">

            <p></p>

            <p class="help-block text-danger"></p>

            <p></p>

            <p class="wrap-the-text sm-line-shift" editable-textarea="item.description" e-rows="10" e-cols="58">
                {{item.description}}</p>
            <br/>

            <div
                    ng-file-drop
                    ng-file-select
                    ng-controller="uploadController"
                    ng-model="files"
                    ng-max-files="4"
                    class="drag-area"
                    id="drag-area"
                    drag-over-class="dragover"
                    ng-multiple="true"
                    allow-dir="true"
                    accept="image/*,application/pdf"
                    ng-click="hideAlert()">
                <h2>{{'add.photo' | translate}}</h2>
                <!--<a class="btn add-photo" href="" met>Add Photo</a>-->
            </div>
        </div>

    </section>
    <div class="modal-footer">
        <a class="alert col-lg-6" id="alert" ng-class="alertClass" arial-label="close">
            {{alertText}}
        </a>
        <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="saved">
            {{'button.save' | translate}}
        </button>
        <button type="button" class="btn btn-primary" ng-click="no()" data-dismiss="modal">
            <i class="fa fa-times"></i> Close
        </button>
    </div>

</div>
