<section id="login" ng-controller="loginController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'login.heading' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">{{'login.message' | translate}}</p>
            </div>
        </div>
        <div class="row">
            <div class="form-group text-center">
                <ul class="list-inline social-buttons shake">
                    <li>
                        <form name="facebook" action="connect/facebook" method="post">
                            <a href="javascript:document.facebook.submit()">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <!--<a class="fa fa-facebook {{user.facebook ? 'active':''}}" href="javascript:document.facebook.submit()"></a>-->
                        </form>
                    </li>
                    <li>
                        <form name="twitter" action="connect/twitter" method="post">
                            <a href="javascript:document.twitter.submit()">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!--<a class="fa fa-twitter {{user.twitter ? 'active':''}}" href="javascript:document.twitter.submit()"></a>-->
                        </form>
                    </li>
                    <li>
                        <form name="google" action="connect/google" method="post">
                            <a href="javascript:document.google.submit()">
                                <i class="fa fa-google"></i>
                            </a>
                            <!--<a class="fa fa-google {{user.google ? 'active':''}}" href="javascript:document.google.submit()"></a>-->
                        </form>
                    </li>
                    <li>
                        <form name="vkontakte" action="connect/vkontakte" method="post">
                            <a href="javascript:document.vkontakte.submit()">
                                <i class="fa fa-vk"></i>
                            </a>
                            <!--<a class="fa fa-vk {{user.vkontakte ? 'active':''}}" href="javascript:document.vkontakte.submit()"></a>-->
                        </form>
                    </li>
                </ul>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                    <form class="form-signin" name="f" action="j_spring_security_check" method="post">
                        <input type="email"
                               title="{{'hint.email' | translate}}"
                               name="j_username"
                               class="form-control"
                               placeholder="{{'login.email' | translate}}" required
                               autofocus>
                        <input type="password"
                               name="j_password"
                               title="{{'hint.pwd' | translate}}"
                               class="form-control"
                               placeholder="{{'login.pwd' | translate}}">
                        <div ng-show="showError" class="alert alert-danger">
                            <a href="javascript:void(0)" class="close" data-dismiss="alert"
                               aria-label="close">&times;</a>
                            <strong>{{errors[errorCode] | translate}}</strong>
                            <br>
                            <a ng-show="errorCode == 8" href="#activation/send">{{'activation.send' | translate}}</a>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            {{'login.enter' | translate}}
                        </button>
                        <a href="#register" class="pull-left new-account">{{'login.signup' | translate}} </a>
                        <a href="#forgot" class="pull-right need-help">{{'login.forgot' | translate}}</a><span class="clearfix"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
