<div class="modal-body" ng-controller="mapController">

    <div class="row form-group search">
        <div class="col-lg-12">

        <input places-auto-complete size=80
                                   ng-model="address"
                                   type="['address', 'places']"
                                   class="bootstrap map-search"
                                   on-place-changed="placeChanged()"
                                   placeholder="Start typing...">

        </div>
    </div>
    <!--http://ngmap.github.io/-->

    <ng-map class='s-map' zoom="11" id="map" center="{{marker.coordinates}}" styles="[{'featureType':'administrative','elementType':'labels.text.fill','stylers':[{'color':'#444444'}]},{'featureType':'landscape','elementType':'all','stylers':[{'color':'#f2f2f2'}]},{'featureType':'poi','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'road','elementType':'all','stylers':[{'saturation':-100},{'lightness':45}]},{'featureType':'road.highway','elementType':'all','stylers':[{'visibility':'simplified'}]},{'featureType':'road.highway','elementType':'geometry.fill','stylers':[{'color':'#ffffff'}]},{'featureType':'road.arterial','elementType':'labels.icon','stylers':[{'visibility':'off'}]},{'featureType':'transit','elementType':'all','stylers':[{'visibility':'off'}]},{'featureType':'water','elementType':'all','stylers':[{'color':'#dde6e8'},{'visibility':'on'}]}]">
        <marker position="{{marker.coordinates}}" />
        <shape name="circle" radius="50" center="{{marker.coordinates}}" radius="50" />
        <div class="map-close"></div>
    </ng-map>

</ng-map>

</div>