<section id="messages" ng-controller="messageController">
    <div class="container">
        <div ng-show="dialogs != null && dialogs.length > 0" class="row">
            <div class="col-md-5">
                <ul class="dialog_list nav nav-pills nav-stacked">
                    <li class="dialog_list_item" ng-repeat="dialog in dialogs">
                        <div class="dialog_container">
                            <p class="dialog_container_date text-primary"><span class="dialog_container_date_label glyphicon glyphicon-time"></span>{{dialog.messages[0].timestmp | date: 'medium'}}</p>
                            <p class="dialog_container_user text-muted">{{dialog.usersInfo[dialog.userId].displayName}}</p>
                            <p class="dialog_container_text">{{dialog.messages[0].message}}</p>
                            <button class="dialog_container_button btn btn-sm btn-warning" ng-click="getDialog(dialog.dialogId)">Show</button>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <div class="panel panel-primary" ng-show="conversation != null">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> {{conversation.with}}
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="#"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-time"></span>
                                    Away</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><span class="glyphicon glyphicon-off"></span>
                                    Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix" ng-repeat="msg in conversation.messages">
                                <span class="chat-img pull-left">
                                <img style="width: 50px; height: 50px;" ng-src="{{conversation.usersInfo[msg.sender].avatarUrl}}"
                                 alt="{{conversation.usersInfo[msg.sender].displayName}}" class="img-circle"/>
                            </span>

                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">{{conversation.usersInfo[msg.sender].displayName}}</strong>
                                        <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>{{timeSince(msg.timestmp)}}
                                        </small>
                                    </div>
                                    <p>
                                        {{msg.message}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" ng-model="message" type="text" maxlength="1000" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="writeMessage();">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="dialogs == null || dialogs.length == 0" class="row">
            <h5>{{'messages.empty' | translate}}</h5>
        </div>
    </div>
</section>