<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#backloss-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">itcameback</a>
        </div>
        <div class="collapse navbar-collapse" id="backloss-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-hide="user.authorized" href="#about" translate>menu.about</a></li>
                <li><a ng-hide="user.authorized" href="#feedback" translate>menu.feedback</a></li>
                <li><a href="#search" translate>menu.find</a></li>
                <li><a href="#add" translate>menu.return</a></li>
                <li ng-hide="user.authorized"><a href="#login" translate>menu.signin</a></li>

                <li class="dropdown_item" ng-show="user.authorized">
                    <a href="" class="dropdown-toggle" role="button">
                        {{user.name}} <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </a>
                    <ul class="dropdown-menu the-navbar-dropdown blue">
                        <li><a href="#profile"><i class="glyphicon glyphicon-user"></i> {{'menu.profile' |
                            translate}}</a></li>
                        <li><a href="#messages"><i class="glyphicon glyphicon-envelope"></i> {{'profile.messages' |
                            translate}}</a></li>
                        <li><a href="#about"><i class="glyphicon glyphicon-info-sign"></i> {{'menu.about' | translate}}</a>
                        </li>
                        <li><a href="#feedback"><i class="glyphicon glyphicon-thumbs-up"></i> {{'menu.feedback' |
                            translate}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li ng-show="user.authorized"><a href="signout"><i class="fa fa-external-link"></i>
                            {{'menu.signout' | translate}}</a></li>
                    </ul>
                </li>

                <li ng-show="user.authorized">
                    <div class="header-user-image pull-right"
                         ng-style="{'background-image' : user.avatarUrl != undefined && 'url('+ user.avatarUrl +')'}"></div>
                </li>
            </ul>
        </div>
    </div>
</nav>