<section id="profile" class="bg-light-gray" ng-controller="profileController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="section-heading">{{'menu.profile' | translate}}:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3"><b>{{profile.displayname}}</b></div>
            <div class="col-xs-12 col-sm-3">{{'profile.created' | translate}} {{profile.profile.timestmp | date: 'dd MMM yyyy HH:mm'}}</div>
            <div class="col-xs-12 col-sm-4">{{profile.profile.email}}
                <span ng-show="profile.profile.email != null">
                    <span ng-show="profile.profile.emailValidated" class="label label-success">{{'profile.success' | translate}}</span>
                    <span ng-hide="profile.profile.emailValidated" class="label label-danger">{{'profile.unconfirmed' | translate}}</span>
                    <a href="" ng-hide="profile.profile.emailValidated" ng-click="validateMail()">{{'profile.activate' | translate}} </a>
                </span>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a class="btn btn-xl" ng-show="profile.profile.emailValidated" href="" ng-click="openDeactivatePopup()">{{'profile.deactivate' | translate}} </a>
            </div>
        </div>

        <found-items></found-items>
        <lost-items></lost-items>
    </div>
</section>
