<section id="recoverError" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'forgot.heading' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                        <strong>{{'errors.invalidToken' | translate}}</strong> <a href="#forgot"> {{'login.forgot' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section>
