<section id="forgot" class="bg-light-gray" ng-controller="recoverController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'recover.heading' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                    <form class="form-signin" name="f" action="user/change/password" method="post">
                        <input type="password"
                               title="{{'hint.pwd' | translate}}"
                               name="password"
                               class="form-control"
                               placeholder="{{'recover.newPwd' | translate}}"
                               autofocus>
                        <input type="hidden" name="token" value="{{token}}">
                        <br>
                        <div ng-show="showError" class="alert alert-danger">
                            <a href="javascript:void(0)" class="close" data-dismiss="alert"
                               aria-label="close">&times;</a>
                            <strong>{{errors[errorCode] | translate}}</strong>
                            <br>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            {{'recover.save' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
