<section id="registration" class="bg-light-gray" ng-controller="registerController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'register.heading' | translate}}</h2>
            </div>
        </div>
        <div ng-hide="success" class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">{{'login.message' | translate}}</p>
            </div>
        </div>
        <div ng-hide="success" class="row">
            <div class="form-group text-center">
                <ul class="list-inline social-buttons shake">
                    <li>
                        <form name="facebook" action="connect/facebook" method="post">
                            <a href="javascript:document.facebook.submit()">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </form>
                    </li>
                    <li>
                        <form name="twitter" action="connect/twitter" method="post">
                            <a href="javascript:document.twitter.submit()">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </form>
                    </li>
                    <li>
                        <form name="google" action="connect/google" method="post">
                            <a href="javascript:document.google.submit()">
                                <i class="fa fa-google"></i>
                            </a>
                        </form>
                    </li>
                    <li>
                        <form name="vkontakte" action="connect/vkontakte" method="post">
                            <a href="javascript:document.vkontakte.submit()">
                                <i class="fa fa-vk"></i>
                            </a>
                        </form>
                    </li>
                </ul>
                <p class="help-block text-danger"></p>
            </div>
        </div>
        <div ng-hide="success" class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                    <form class="form-signin" name="f" action="user/registration" method="post">
                        <input type="text"
                               name="lang"
                               value="{{userLang}}"
                               hidden="true">
                        <input type="text"
                               name="displayname"
                               class="form-control"
                               placeholder="{{'login.firstname' | translate}}"
                               autofocus>
                        <input type="text"
                               title="{{'hint.email' | translate}}"
                               name="j_username"
                               class="form-control"
                               placeholder="{{'login.email' | translate}}"
                               autofocus>
                        <input type="password"
                               title="{{'hint.pwd' | translate}}"
                               name="j_password"
                               class="form-control"
                               placeholder="{{'register.pwd' | translate}}">

                        <div ng-show="showError" class="alert alert-danger">
                            <a href="javascript:void(0)" class="close" data-dismiss="alert"
                               aria-label="close">&times;</a>
                            <strong>{{errors[errorCode] | translate}}</strong>
                            <br>
                            <a href="#forgot">{{'login.forgot' | translate}}</a>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            {{'login.signup' | translate}}
                        </button>
                        <a href="#login" class="btn btn-lg  btn-default new-account">{{'menu.signin' | translate}} </a>
                        <!--<a href="" class="pull-right need-help">{{'login.help' | translate}} </a><span class="clearfix"></span>-->
                    </form>
                </div>
            </div>
        </div>
        <div ng-show="success" class="row">
            <div class="alert alert-success text-center">
                <strong>{{'register.success' | translate}}</strong>
            </div>
        </div>
    </div>
</section>