<!-- Portfolio Grid Section -->
<section id="search" class="bg-light-gray" ng-controller="searchController">
    <div class="container">
        <div class="row">
            <div id="search-input">
                <div class="input-group col-md-12">
                    <tags-input class="bootstrap search" ng-model="tags"
                                add-on-space="true" add-on-enter="true"
                                on-tag-added="search()"
                                on-tag-removed="search()"
                                min-length="2"
                                placeholder="{{'placeholder.search' | translate}}">
                        <!--http://mbenford.github.io/ngTagsInput/documentation/api-->
                        <auto-complete source="complete($query)"
                                       min-length="2"
                                       max-results-to-show="7">
                        </auto-complete>
                    </tags-input>
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" ng-click="search()" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
                </div>
            </div>
            <a href="" class="pointer pull-left the-location-hint" ng-click="openMap()"><i
                    class="fa fa-map-marker text-muted pointer"></i> {{location}}</a>

            <a href="#lost" ng-show="tags.length > 0"  class="pointer pull-right the-location-hint">{{'label.receiveNotifications' | translate}}</a>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                    <div id="fh5co-board">
                        <div class="item" ng-repeat="item in items" ng-click="showDetails(item.id)">
                            <div ng-show="item.photoUrls.length != 0">
                                <a href=""
                                   class="image-popup fh5co-board-img">
                                    <img ng-src="{{item.photoUrls[0]}}">
                                </a>
                            </div>

                            <ul class="fh5co-desc pull-left wrap-the-text">
                                <li>
                                    <a href="#/item/{{item.id}}" class="search-tags"
                                       ng-repeat="tag in item.tags | limitTo: 5">
                                        #{{tag}}&nbsp
                                    </a>
                                    <hr/>
                                </li>
                                <li>
                                    <p class="search-address wrap-the-text">
                                        {{item.location}}
                                    </p>
                                    <hr/>
                                </li>
                                <li>
                                    <p class="search-description wrap-the-text">
                                        {{item.description | limitTo: 250 }}
                                        {{item.description.length > 250 ? &nbsp;'...': ''}}
                                    </p>
                                </li>
                            </ul>
                            <div class="fh5co-desc pull-right">
                                <i class="glyphicon glyphicon-time"></i> {{item.timestamp | date: 'dd MMM yyyy HH:mm'}}
                            </div>
                        </div>
                </div>

            </div>
        </div>
        <div class="row">
            <a href="" ng-show="hasMore" class="pointer pull-left the-location-hint" ng-click="searchMore()">
                <i class="fa fa-search"></i> {{'label.more' | translate}}
            </a>

            <p href="" ng-show="tags.length > 0" class="pointer pull-left">
                <i class="text-muted">{{'label.nothing' | translate}}</i></p>

            <div class="col-md-12 text-center">
                <a href="#lost" ng-show="tags.length > 0" class="btn btn-xl">
                    {{'label.subscribe' | translate}}
                </a>
            </div>
        </div>

    </div>
</section>
