<section id="changeEmail" class="bg-light-gray" ng-controller="sendActivationController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'activation.send.heading' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                    <form class="form-signin" name="f" action="user/activation/send" method="post">
                        <input ng-hide="showSuccess" type="email"
                               title="{{'hint.email' | translate}}"
                               name="email"
                               class="form-control"
                               placeholder="{{'login.email' | translate}}" required
                               autofocus>
                        <br>
                        <div ng-show="showError" class="alert alert-danger">
                            <a href="javascript:void(0)" class="close" data-dismiss="alert"
                               aria-label="close">&times;</a>
                            <strong>{{errors[errorCode]}}</strong>
                            <br>
                            <a href="#register">{{'login.signup' | translate}}</a>
                        </div>
                        <div ng-show="showSuccess" class="alert alert-success">
                            <strong>{{'activation.send.success' | translate}}</strong>
                            <strong><a href="#login">{{'menu.signin' | translate}}</a></strong>
                        </div>
                        <button ng-hide="showSuccess" class="btn btn-lg btn-primary btn-block" type="submit">
                            {{'button.activation.send' | translate}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
