<div class="row">
    <div class="col-lg-12">
        <h3 class="section-heading">{{'profile.subscriptions' | translate}}:</h3>
    </div>
</div>
<div class="row">
    <table id="product-table" ng-show="subscriptionList.length > 0" class="table table-hover table-condensed table-responsive ">
        <thead>
        <th>{{'subscriptions.tags' | translate}}</th>
        <th>{{'subscriptions.location' | translate}}</th>
        <th>{{'subscriptions.created' | translate}}</th>
        <th class="text-center"></th>
        </thead>
        <tbody ng-repeat="subscription in subscriptionList" style="cursor: pointer">
        <tr>
            <td>
                <i class="search-tags blue" ng-repeat="tag in subscription.tags">
                    #{{tag.text}}
                </i>
            </td>
            <td>{{ subscription.location }}</td>
            <td>{{ subscription.timestamp | date: 'dd MMM yyyy HH:mm'}}</td>
            <td class="text-center">
                <a href="" class="fa fa-2x pointer fa-pencil-square-o" style="color: #333333"
                   ng-click="editSubscription(subscription.id)"></a>&nbsp;
                <a href="" class="fa fa-2x pointer fa-trash-o" style="color: #333333"
                   ng-click="removeSubscription(subscription.id)"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
