<section id="validation" class="bg-light-gray" ng-controller="validateController">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'validation.heading' | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group text-center">
                    <div ng-show="showError" class="alert alert-danger">
                        <strong>{{'validation.error' | translate}}</strong>
                        <br>
                        <a href="#/">{{'validation.back' | translate}}</a>
                    </div>
                    <div ng-show="!showError" class="alert alert-success">
                        <strong>{{'validation.success' | translate}}</strong>
                        <br>
                        <a href="#/">{{'validation.back' | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>